/*!**************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./source/css/about_style.scss ***!
  \**************************************************************************************************************************************************/
body {
  background-color: paleturquoise;
}

h1 {
  color: tomato;
}
h1 span {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  background: url(../7b5c72cf25016286a12d.png) no-repeat center center/cover;
}

h2 {
  color: black;
}

a {
  color: white;
  text-decoration: none;
}

img {
  max-width: 1280px;
  width: 100%;
}
